.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.card {
    width: 220px;
    height: 275px;
    border: 2px solid #4f4c4c;
    padding: 17px;
    margin: 5px;
    border-radius: 10px;
}

.card-title {
    margin-bottom: 0;
}

.card-button {
    color: white;
    --tw-bg-opacity: 1;
    background-color: (58 58 58 / var(--tw-bg-opacity));
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 1px solid #4f4c4c;
    width: 100%;
    cursor: pointer;
}

.sub-size-title {
    position: absolute;
    top: 4px;
    right: 85px;
    background-color: rgb(0, 80, 255);
    color: white;
    padding: 2px 8px;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}

.text-blue {
    --tw-text-opacity: 1;
    color: rgb(0 55 193 / var(--tw-text-opacity));
}